/.vs
/TravelManagerPrototype/TravelManagerPrototype.Android/bin
/TravelManagerPrototype/TravelManagerPrototype.Android/obj
/TravelManagerPrototype/TravelManagerPrototype/obj
/TravelManagerPrototype/TravelManagerPrototype.iOS/obj
/TravelManagerPrototype/TravelManagerPrototype/bin
/TravelManagerPrototype/TravelManagerPrototype.iOS/bin
